<!DOCTYPE html>
       <html lang="en">
           <head>
               <meta charset="UTF-8">
               <title>Posting</title>
           </head>
           <body>
           <h1>posting page</h1>
           </body>
       </html>